* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121213;
  color: #ffffff;
}

.word-container {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}

.box {
  width: 3.8rem;
  height: 3.8rem;
  border: 2px solid #3a3a3c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.box-filled {
  border: none;
  color: #ffffff;
}

.keyboard {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.keyboard-row {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.2rem;
  width: 42px;
  height: 58px;
  border: none;
  border-radius: 4px;
  background-color: #818384;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.key.special-key {
  width: 64px;
}

.key.enter-key {
  width: 64px;
  font-size: 1rem;
}

.key.delete-key {
  width: 64px;
  font-size: 1.2rem;
}