* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121213;
  color: #ffffff;
}

.word-container {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}

.box {
  width: 3.8rem;
  height: 3.8rem;
  border: 2px solid #3a3a3c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

